.parameters {}
.parameters__item {}
.values {}
.values__item {
  margin-bottom: 0.5em;

  padding-left: 0em;
  padding-right: 0em;

  cursor: pointer;
}

%values__item_selected {
  border: 1px solid #000;
}

.values__item__image {
  padding: 0.25em;

  height: 3.5em;
  width: 3.5em;

  border: 1px solid transparent;
  border-radius: 5px;

  transition: 300ms linear border-color;

  &:hover {
    @extend %values__item_selected;
  }
}

.values__item_selected {
  cursor: default;

  .values__item__image {
    @extend %values__item_selected;
  }
}


.selected-values {
  margin-top: 0.5em;
}