.devices-list {
  margin-bottom: 2em;
  padding: 1em;

  border: 1px solid #073642;
  border-radius: 0.5em;

  $size_of_side: 2em;

  .item {
    padding: 0.5em 0 0.5em 0.5em;

    line-height: $size_of_side;
    color: #073642;

    cursor: pointer;

    transition: 100ms linear background-color;

    .image {
      width: $size_of_side;
      height: $size_of_side;
    }

    &:hover {
      color: #002b36;
      background-color: #839496;
    }

    &.item--socket1 {
    }

    &.item--socket2 {
    }

    &.item--socket3 {
    }

    &.item--socket4 {
    }

    &.item--socket5 {
    }

    &.item--socket6 {
    }

    &.item--socket7 {
    }

    &.item--switch1 {
    }

    &.item--switch2 {
    }

    &.item--switch3 {
    }

    &.item--switch4 {
    }

    &.item--switch5 {
    }

    &.item-dimmer1 {
    }

    &.item-dimmer2 {
    }

    &.item-dimmer3 {
    }

    &.item-mosensor1 {
    }

    &.item-mosensor2 {
    }

    &.item--frame1 {
      .image {
      }
    }

    &.item--frame2 {
      .image {
        width: 3.5em;
      }
    }

    &.item--frame3 {
      .image {
        width: 5em;
      }
    }

    &.item--frame4 {
      .image {
        width: 6.5em;
      }
    }

    &.item--frame5 {
      .image {
        width: 8em;
      }
    }
  }
}