.foreman {
  .devices-list {
    margin-bottom: 1em;
    padding: 1em;

    border: 1px solid #000;
    border-radius: 0.5em;

    $size_of_side: 2em;

    .item {
      position: relative;

      padding: 0.5em 0 0.5em 3.5em;

      line-height: $size_of_side;

      cursor: pointer;

      transition: 100ms linear background-color;

      &:before {
        position: absolute;

        content: "";

        width: $size_of_side;
        height: $size_of_side;

        top: 0.5em;
        left: 0.75em;

        border: 1px solid #000;
      }

      &:hover {
        background-color: #aaa;
      }
    }
  }

  .cartItems {
    .header {
      margin-bottom: 0.5em;
    }

    .list {
      .item {
        margin-top: 1em;
        padding-top: 1.25em;

        &.first {
          margin-top: 0;
        }

        &.odd {
          background-color: #ebe7ff;
        }

        &.even {
          background-color: #39f;
        }

        .title {
          margin: 0;
        }
      }
    }
  }
}