.series {
  .list {
    .item {
      .title {}

      .device-series {
        .item {
          .collapsed {}

          .expanded {
            .markings {
              .title {}

              .list {
                .item {
                  .title {}

                  .parameters {
                    .list {
                      .item {
                        padding: 0 0.25em 1em 0;

                        cursor: pointer;

                        .image {
                          position: relative;

                          padding: 0.25em;

                          height: 2.5em;
                        }

                        &:hover,
                        &.selected {
                          .image {
                            border: 1px solid #000;
                            border-radius: 5px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}