<article class="row">
  <h2>Админка</h2>

  <form name="uploadForm" ng-submit="upload()" enctype="multipart/form-data">
    <fieldset>
      <legend>Электронные таблицы</legend>
      <label>Шахматка<input type="file" name="uploads.catalogue" file-input="uploads.catalogue"></label>
      <label>Прайс-лист<input type="file" name="uploads.priceList" file-input="uploads.priceList"></label>
    </fieldset>
    <fieldset ng-hide="true">
      <legend>Картинки</legend>
      <label>Устройства<input type="file" name="uploads.images.devices" file-input="uploads.images.devices" multiple accept="image/*"></label>
      <label>Серии<input type="file" name="uploads.images.ranges" file-input="uploads.images.ranges" multiple accept="image/*"></label>
      <label>Параметры<input type="file" name="uploads.images.parameters" file-input="uploads.images.parameters" multiple accept="image/*"></label>
    </fieldset>

    <button class="button success">Загрузить</button>
  </form>
</article>