<article class="row">
  <h2>Админка</h2>

  <form name="uploadForm" ng-submit="upload()" enctype="multipart/form-data">
    <fieldset>
      <legend>Электронные таблицы</legend>
      <label>Шахматка<input type="file" name="uploads.catalogue" file-input="uploads.catalogue"></label>
      <label>Прайс-лист<input type="file" name="uploads.priceList" file-input="uploads.priceList"></label>
      <label><input type="checkbox" name="uploads.clearDb" ng-model="uploads.clearDb"> Очистить БД перед импортом</label>
    </fieldset>
    <fieldset>
      <legend>Картинки</legend>
      <label><input type="file" name="uploads.images" file-input="uploads.images" multiple accept="image/*"></label>

      <ul class="row">
        <li class="small-2 columns left" ng-repeat="file in uploads.images">{{file.name}}</li>
      </ul>
    </fieldset>

    <button class="button success" ng-class="{ disabled: uploads.isUploading }" ng-disabled="uploads.isUploading">{{uploads.submitButtonLabel}}</button>
  </form>
</article>