<section class="devices">
  <header class="row">
    <h2 class="subheader">Устройства</h2>
  </header>

  <ul class="row devices-list">
    <li ng-repeat="device in devices" class="small-4 columns columns devices-list--item" ng-dblclick="addToCart(device)" draggable="true">
      {{device.title}}
    </li>
  </ul>

  <header class="row">
    <h2 class="subheader">Корзина</h2>
  </header>

  <ul class="row collapse cartItems-list">
    <li ng-repeat="cartItem in cart.cart_items" class="small-12 columns cartItems-list--item">
      <div class="row collapse">
        <h4 class="small-9 columns">{{cartItem.device.title}}</h4>
        <form class="small-1 columns">
          <input type="number" ng-model="cartItem.amount" ng-change="updateItem(cartItem)" class="small-1 columns device_series__item--edit" required min="1">
        </form>
        <form class="small-2 columns" ng-submit="deleteItem(cartItem)">
          <input type="submit" value="Удалить" class="medium button alert postfix">
        </form>
      </div>
    </li>
  </ul>
</section>