<section class="foreman">
  <header class="cart">
    <section ng-show="newCart.expanded">
      <article devices></article>
      <article class="cart-items" cart-items></article>

      <div class="row" ng-show="cart.cartItems.length > 0">
        <a ng-click="newCart.loadSeries()" class="medium button right small-12 columns right">Загрузить серии</a>
      </div>
    </section>

    <section ng-hide="newCart.expanded">
      <div class="row">
        <a ng-click="newCart.expanded = true" class="medium button right small-12 columns right">Посмотреть корзину</a>
      </div>
    </section>
  </header>

  <ul>
    <li ng-repeat="series in newCart.series.models" class="row">
      <div class="collapsed" ng-hide="series.expanded">
        <div class="row">
          <h3 class="small-12 columns">{{series.title}}</h3>
        </div>

        <div class="row">
          <div class="small-2 columns">
            <img ng-src="/images/series/{{series.title}}.png" alt="{{series.title}}" width="100%" height="100%">
          </div>

          <strong class="small-4 small-push-2 columns">от {{series.price() | currency:''}} грн</strong>

          <ul class="small-3 columns">
            <li>Производитель: {{series.manufacturer.title}}</li>
            <li>Страна: {{series.manufacturer.country}}</li>
            <li>Сборка: {{series.manufacturer.assembly}}</li>
          </ul>
        </div>

        <div class="row collapse">
          <input type="button" value="Выбрать цвет" class="small-12 columns small button secondary" ng-click="series.expanded = true">
        </div>
      </div>

      <div class="expanded" ng-show="series.expanded">
        <div class="row">
          <h3 class="small-3 columns">{{series.title}}</h3>
        </div>

        <div class="row">
          <div class="small-3 columns">
            <img ng-src="/images/series/{{series.title}}.png" alt="{{series.title}}" width="100%" height="100%">
          </div>

          <ul class="small-8 columns">
            <li ng-repeat="parameter in series.parameters.models">
              <ul class="row">
                <li ng-repeat="value in parameter.values.models" class="small-1 columns left" ng-class="{ selected: value.selected }" ng-click="value.select()">
                  <img ng-src="/images/series/{{series.title}}/values/{{value.code}}.png" alt="{{series.title}} &mdash; {{value.code}} &dash; {{value.description}}" title="{{series.title}} &mdash; {{value.code}} &dash; {{value.description}}" width="100%" height="100%">
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="row">
          <div class="small-3 columns right">
            <div class="row collapse"><strong class="small-12 columns text-right">{{series.price() | currency:''}} грн</strong></div>

            <div class="row collapse">
              <a ng-href="http://localhost:9292/carts/{{cart.id}}/series/{{series.id}}/{{series.title}}.xls" class="button success small-12 columns" target="_blank">Выгрузить артикулы</a>
            </div>
          </div>
        </div>

        <div class="row collapse">
          <input type="button" value="Свернуть" class="small-12 columns small button secondary" ng-click="series.expanded = false">
        </div>
      </div>
    </li>
  </ul>

  <article class="series hide" ng-show="cart.cartItems.length" series></article>
  <article class="selected-skus hide" ng-show="cart.cartItems.length" selected-skus></article>
</section>