<header class="row">
  <strong class="small-12 columns title">Подберите внутренности устройства</strong>
</header>

<ul class="row list">
  <li class="small-12 columns item" ng-repeat="deviceSeriesSku in deviceSeries.deviceSeriesSkus | orderBy: 'layer'" class="item">
    <ul class="parameters">
      <li class="row collapse list" ng-repeat="parameter in deviceSeriesSku.parameters">
        <form name="selectedValue">
          <label ng-repeat="value in parameter.values | orderBy: 'unit_price'" class="small-1 columns item left" ng-class="{ selected: value.selected }" ng-click="value.select()">
            <img ng-src="/images/skus/{{deviceSeriesSku.compileTitle(value)}}_thumb.png" alt="{{value.code}}" title="{{value.code}} - {{value.description}}" width="100%" height="100%" class="image">
            <br><span class="unit-price">{{value.unit_price | currency: ''}} грн</span>
          </label>
        </form>
      </li>
    </ul>
  </li>
</ul>