<header class="row title">
  <p class="small-12 columns">Подберите внутренности устройства</p>
</header>

<ul class="row list">
  <li class="small-12 columns item" ng-repeat="deviceSeriesSku in deviceSeries.device_series_skus" class="item">
    <ul class="parameters">
      <li class="row collapse list" ng-repeat="parameter in deviceSeriesSku.getParameters()">
        <div ng-repeat="value in parameter.values" class="small-1 columns item left" ng-class="{ selected: value.selected }" ng-click="value.select()">
          <img ng-src="/images/skus/{{deviceSeriesSku.compileTitle(value)}}_thumb.png" alt="{{value.code}}" title="{{value.code}} - {{value.description}}" width="100%" height="100%" class="image">
        </div>
      </li>
    </ul>
  </li>
</ul>